.MuiButton-containedPrimary-124 {
  background-color: rgb(155, 155, 155) !important ;
}

.AccordionPanel-divContainer-2 {
  margin-bottom: 16px !important;
}

.left{
  width: 68%;
  float: left; 
}

.left  p{
  font-size: 15px;
  color: rgb(84, 84, 84);
}

.right{
  width: 30%;
  float: right;
}

hr{
  border: 0;
  border-top: 1px solid #eee;
}

.acordion h4 {
  font-size: 13px;
}

.col-md-3{
  width:22%;
  margin-right: 3%;
}

.MuiSelect-select-135{
  font-size: 13px !important;
  color: #929191 !important;
}