.MuiButton-containedPrimary-124 {
  background-color: rgb(155, 155, 155) !important ;
}

.AccordionPanel-divContainer-2 {
  margin-bottom: 16px !important;
}

.left{
  width: 68%;
  float: left; 
}

.left  p{
  font-size: 15px;
  color: rgb(84, 84, 84);
}

.right{
  width: 30%;
  float: right;
}

hr{
  border: 0;
  border-top: 1px solid #eee;
}

.acordion h4 {
  font-size: 14px;
}

.col-md-3{
  width:22%;
  margin-right: 3%;
}

.MuiSelect-select-135{
  font-size: 14px !important;
  color: #929191 !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black !important;
  font-size: 14px !important;
  opacity: 0.8 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color:black  !important;
  font-size: 14px !important;
  opacity: 0.8 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black  !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: black ;
}

.MuiInputLabel-animated-124{
  color: #212121 !important;
  font-size: 17px;
}

.questionp{
  font-size: 14px !important;
    color: #212121 !important;
    margin: 0 !important;
}

